<div height="100" id="{{ chartName }}" ></div>
<script>
var chart = c3.generate({
    bindto: '#{{ chartName }}',
    data: {
        x: 'x',
        columns: [
            ['x'].concat({{ chart.labels | json_encode | raw }}),
            ['microseconds'].concat({{ chart.series | json_encode | raw }}),
        ],
    },
    grid: {
        y: {
            lines: [
                { value: {{ chart.mean }}, text: "Mean" },
            ],
        }
    },
    axis: {
        x: {
            type: 'category'
        },
    }
});

</script>
