<div height="100" id="{{ chartName }}" ></div>
<script>
var data = {{ chart.context | json_encode | raw }};
var chart = c3.generate({
    bindto: '#{{ chartName }}',
    tooltip: {
        contents: function (d, defaultTitleFormat, defaultValueFormat, color) {
            var html = '<table class="ui small very compact table" style="opacity: 0.75">';
            for (index in d) {
                var pointInfo = d[index];
                var context = data[pointInfo.id][pointInfo.index];
                for (var key in context) {
                    html += '<tr>';
                    html += '<td>' + key + '</td>';
                    html += '<td>' + context[key].substring(0, 50) + '</td>';
                };
                break;
            };
            html += '</table>';
            return html;
        }
    },
    data: {
        columns: [
            {% for i, series in chart.dataSets %}
            ['{{ series.label }}'].concat({{ series.mode | json_encode | raw }}),
            {% endfor %}
        ],
    }
});

</script>
