<table class="ui table">
    <thead>
        <tr>
            <th>Subject</th>
            <th>Revs * Iters</th>
            <th>Min</th>
            <th>Max</th>
            <th>Mean</th>
            <th>Mode</th>
            <th>Stdev</th>
            <th>R-stdev</th>
        </tr>
    </thead>
    <tbody>
        {% for variant in table %}
        <tr>
            <td>
                <a href="{{ path('report_variant', { 
                    namespace: project.namespace,
                    project: project.name,
                    uuid: uuid, 
                    class: subTitle, 
                    subject: variant['subject-name'], 
                    variant: variant['variant-index']
                }) }}">{{ variant['subject-name'] }}{% if variant['variant-index'] != 0 %} # {{ variant['variant-index'] }}{% endif %}</a></td>
            <td>{{ variant['variant-revs'] ~ ' * ' ~ variant['variant-iterations'] }}</td>
            <td>{{ variant['stats-min'] | number_format('2') }}µs</td>
            <td>{{ variant['stats-max'] | number_format('2') }}µs</td>
            <td>{{ variant['stats-mean'] | number_format('2') }}µs</td>
            <td>{{ variant['stats-mode'] | number_format('2') }}µs</td>
            <td>{{ variant['stats-stdev'] | number_format('2') }}µs</td>
            <td>{{ variant['stats-rstdev'] | number_format('2') }}%</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
