{% import "report/table/macros.html.twig" as macros %}
<table class="ui table">
    <thead>
        <tr>
            <th>Subject</th>
            <th>Revs * Iters</th>
            <th>Min</th>
            <th>Max</th>
            <th>Mean</th>
            <th>Mode</th>
            <th>Stdev</th>
            <th>R-stdev</th>
        </tr>
    </thead>
    <tbody>
        {% for variant in table %}
            <tr class="{% if variant['error'] is defined and variant['error'] %}negative{% endif %}">
                <td>{{ macros.subject_name(variant) }}</td>
                <td>{{ macros.revsIterations(variant) }}</td>
                <td>{{ macros.statTime(variant, 'stats-min') }}</td>
                <td>{{ macros.statTime(variant, 'stats-max') }}</td>
                <td>{{ macros.statTime(variant, 'stats-mean') }}</td>
                <td>{{ macros.statTime(variant, 'stats-mode') }}</td>
                <td>{{ macros.statTime(variant, 'stats-stdev') }}</td>
                <td>{{ macros.statPercent(variant, 'stats-rstdev') }}</td>
            </tr>
        </tr>
        {% endfor %}
    </tbody>
</table>
