<table class="ui table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Suite</th>
            <th>Host</th>
            <th>VCS Branch</th>
            <th>Revs * Iters</th>
            <th>Min</th>
            <th>Max</th>
            <th>Mode</th>
            <th>R-Stdev</th>
        </tr>
    </thead>
    <tbody>
        {% for variant in table %}
            {% if variant['error'] is defined and variant['error'] %}
            <tr class="negative">
                <td class="ac-error">{{ variant['subject-name'] }}{% if variant['variant-index'] != 0 %} # {{ variant['variant-index'] }}{% endif %}</td>
                <td colspan="7">{{ variant['error'] }}</td>
            </tr>
            {% else %}
            <tr>
                <td>{{ variant['suite-date'] | time_diff }}</td>
                <td>
                    <a href="{{ path('report_suite', {
                        namespace: project.namespace,
                        project: project.name,
                        uuid: variant['suite-uuid']
                        }) }}">{{ variant['suite-uuid'] }}</a>
                </td>
                <td>{{ variant['env-uname-host'] | default('?') }}</td>
                <td>{{ variant['env-vcs-branch'] | default('?') }}</td>
                <td>{{ variant['variant-revs'] ~ ' * ' ~ variant['variant-iterations'] }}</td>
                <td>{{ variant['stats-min'] | default(0) | number_format('2') }}µs</td>
                <td>{{ variant['stats-max'] | default(0) | number_format('2') }}µs</td>
                <td>{{ variant['stats-mode'] | default(0) | number_format('2') }}µs</td>
                <td>{{ variant['stats-rstdev'] | default(0) | number_format('2') }}%</td>
            </tr>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
