{% import "report/table/macros.html.twig" as macros %}
<table class="ui table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Suite</th>
            <th>Host</th>
            <th>VCS Branch</th>
            <th>Revs * Iters</th>
            <th>Min</th>
            <th>Max</th>
            <th>Mode</th>
            <th>R-Stdev</th>
        </tr>
    </thead>
    <tbody>
        {% for variant in table %}
            <tr {% if variant['error'] is defined and variant['error'] %}negative{% endif %}>
                <td>{{ variant['suite-date'] | time_diff }}</td>
                <td>{{ macros.suiteUuid(variant) }}</td>
                <td>{{ macros.host(variant) }}</td>
                <td>{{ variant['env-vcs-branch'] | default('?') }}</td>
                <td>{{ macros.revsIterations(variant) }}</td>
                <td>{{ macros.statTime(variant, 'stats-min') }}</td>
                <td>{{ macros.statTime(variant, 'stats-max') }}</td>
                <td>{{ macros.statTime(variant, 'stats-mode') }}</td>
                <td>{{ macros.statPercent(variant, 'stats-rstdev') }}</td>
            </tr>
        </tr>
        {% endfor %}
    </tbody>
</table>
