<table class="ui table ac-suites">
    <thead>
        <tr>
            <th>Date</th>
            <th>Project</th>
            <th>Username</th>
            <th>Suite</th>
            <th>Host</th>
            <th>VCS Branch</th>
        </tr>
    </thead>
    <tbody>
        {% for suite in table %}
        <tr>
            <td>{{ suite['suite-date'] }}</td>
            <td>{{ suite['project'] }}</td>
            <td><a href="{{ path('report_user', { username: suite['username'] }) }}">{{ suite['username'] }}</a></td>
            <td><a href="{{ path('report_suite', { uuid: suite['suite-uuid'] }) }}">{{ suite['suite-uuid'] }}</a></td>
            <td>{{ suite['env-uname-host'] }}</td>
            <td>{{ suite['env-vcs-branch'] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
