<table class="ui table ac-suites">
    <thead>
        <tr>
            <th>Date</th>
            <th>Project</th>
            <th>Suite</th>
            <th>Host</th>
            <th>VCS Branch</th>
            <th># B / V / I <i title="Number of Benchmarks / Variants / Iterations" class="ui blue icon help circle"></i></th>
        </tr>
    </thead>
    <tbody>
        {% for suite in table %}
        <tr>
            <td title="{{ suite['suite-date'] }}">{{ suite['suite-date']|time_diff }}</td>
            <td>
                <a href="{{ path('report_namespace', {namespace: suite['project-namespace']}) }}">{{ suite['project-namespace'] }}</a> /
                <a href="{{ path('report_project', {namespace: suite['project-namespace'], project: suite['project-name']}) }}">{{ suite['project-name'] }}</a>
            </td>
            <td><a href="{{ path('report_suite', { namespace: suite['project-namespace'], project: suite['project-name'], uuid: suite['suite-uuid'] }) }}">{{ suite['suite-uuid'] }}</a></td>
            <td>{{ suite['env-uname-host'] | default('') }}</td>
            <td>{{ suite['env-vcs-branch'] | default('') }}</td>
            <td>
                {{ suite['benchmarks'] }} /
                {{ suite['variants'] }} /
                {{ suite['iterations'] }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
