{% extends "base.html.twig" %}
{% block title %}Suite{% endblock %}
{% block subtitle %}This was an amazing suite{% endblock %}
{% block breadcrumb %}
    {{ breadcrumb([
        {
            "label": suiteReport['project-namespace'],
            "route": "report_namespace",
            "params": {
                namespace: suiteReport['project-namespace']
            }
        },
        {
            "label": suiteReport['project-name'],
            "route": "report_project",
            "params": {
                namespace: suiteReport['project-namespace'],
                project: suiteReport['project-name'],
            }
        },
        {
            "label": suiteReport['suite-uuid'],
            "route": "report_suite",
            "params": {
                namespace: suiteReport['project-namespace'],
                project: suiteReport['project-name'],
                uuid: suiteReport['suite-uuid']
            }
        },
    ]) }}
{% endblock %}
{% block body %}
    <table class="ui table">
        {% for cells in suiteReport|batch(2) %}
            <tr>
            {% for field, value in cells %}
                <td class="selected"><b>{{ field|replace({'env-': ''}) }}</b></td>
                <td title="{{ value }}">{{ value|truncate(50) }}</td>
            {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <h2>Results</h2>

    {% include "report/chart/variant_chart.html.twig" with {
        chartName: "suiteChart",
        chart: suiteChart,
    } %}

    {% for subTitle, table in variantTables %}
        <h3>
            <a href="{{ path('report_benchmark', { "uuid": uuid, "class": subTitle }) }}">{{ subTitle }}</a>
        </h3>
        {% include "report/table/benchmark.html.twig" %}
    {% endfor %}

{% endblock %}
