{% extends "base.html.twig" %}
{% block title %}Suite{% endblock %}
{% block page_title %}Suite: <a href="{{ path('report_suite', { "uuid": uuid }) }}">{{ uuid }}</a>{% endblock %}
{% block body %}
    <h3><a href="{{ path('report_benchmark', {'uuid': uuid, 'class': class}) }}">{{ class }}</a>::{{ subject }}#{{ variant }}</h3>

    {% include "report/chart/iterations_chart.html.twig" with {
        chartName: "iterationChart",
        chart: iterationChart,
    } %}

    {% include "report/table/iterations.html.twig" %}

    {% include "report/chart/iterations_histogram.html.twig" with {
        chartName: "histogramChart",
        chart: histogramChart,
    } %}
{% endblock %}
