{% extends "base.html.twig" %}
{% block title %}Variant{% endblock %}
{% block subtitle %}So many datas{% endblock %}
{% block breadcrumb %}
    <a class="section" href="{{ path('report_suite', { "uuid": uuid }) }}">{{ uuid }}</a>
    <div class="divider"> / </div>
    <a class="section" href="{{ path('report_benchmark', {'uuid': uuid, 'class': class}) }}">{{ class|short_class }}</a>
    <div class="divider"> / </div>
     <div class="active section">{{ subject }}#{{ variant }}</div>
{% endblock %}
{% block body %}

    {% include "report/chart/iterations_chart.html.twig" with {
        chartName: "iterationChart",
        chart: iterationChart,
    } %}

    {% include "report/table/iterations.html.twig" %}

    {% include "report/chart/iterations_histogram.html.twig" with {
        chartName: "histogramChart",
        chart: histogramChart,
    } %}
{% endblock %}
